template(name='main')
  .row-fluid
    .span12
      {{loginButtons}}
      button.play test
      
  .row-fluid
    .span4
      {{> chats}}
    .span8
      {{> chat}}
      {{> newMsg}}

template(name='newMsg')
  textarea#msg

template(name='chats')
  ul {{#each items}}
    li
      a.open(href='#') chat
  {{/each}}

template(name='chat')
  ul {{#each items}}
    li {{text}}
  {{/each}}